{% include 'navbar.html' %} {% block content %}

<div class="container p-3">
  {% for message in messages %} {% if message %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% endif %} {% endfor %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for blog in blogs %}
    <a href="{% url 'bloginfo' blog.id %}">
    <div class="col">
      <div class="card h-100">
        <img src="{{blog.imageURL}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <p class="card-text">{{blog.description}}</p>
        </div>
      </div>
    </div>
  </a>
    {%endfor%}
  </div>
</div>

{% endblock %} {% include 'footer.html' %}
